
<%-include('../partials/header-board.html')%>

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0">
        <img src="/admin/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">ABC DBA PORTALL</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/home">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboyard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="/admin/role">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Roles</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="/admin/map-user">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Map Users</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/contract">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Contracts</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/upload">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Contracts</span>
          </a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/map">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Map Bids</span>
          </a>
        </li>
        -->
       
      
        <li class="nav-item">
          <a class="nav-link text-white " href="/login">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">logout</i>
            </div>
            <span class="nav-link-text ms-1">Sign Out</span>
          </a>
        </li>
       
      </ul>
    </div>

  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Map Users</li>
              </ol>
              <h6 class="font-weight-bolder mb-0">Map Users</h6>
            </nav>
    
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                  
                </div>
              </div>
           
            </div>
          </div>
        </nav>
        <!-- End Navbar -->



    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Map User Edit</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">

          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
           
            <div class="p-4">
              <form method="POST">
                <label class="form-label">Map User Name</label>
                <div class="input-group input-group-outline mb-4">
                  
                  <input type="text" class="form-control"   name="user_name" value="<%=res.map_user_name%>" >

                </div>
                <div class="input-group input-group-outline mb-4">
                  
                  <input type="text" class="form-control"    name="user_email" value="<%=res.map_user_email%>" >


                </div>

                <label class="form-label"  for="exampleFormControlSelect1">Set Active Status</label>
                <div class="input-group input-group-dynamic mb-4">
                  
                  <div class="input-group input-group-static mb-4">
               

                    <select class="selectpicker" name="status" value="<%=res.active_status%>"> 
                      <% for(var i=0; i< 2; i++){ %>
                      
                        <% if(res.active_status == i){ %>
                          <option selected><%= res.active_status %></option>
                        <% } else{ %>  
                          <option> <%= i %></option>
                       <% } %>
                       
                    <% } %>
  
                  </select>
                  </div>
                </div>
          

                <p>Change Password:</p>

                    <div>
                      <input type="checkbox" id="checkbox" name="password" onclick="myFunction()">
                      <label for="scales">Do you want to update map user password</label>
                      <div class="input-group input-group-outline mb-4">
                        <input type="text" id="password" class="form-control" placeholder="type new password"  style="display:none"  name="password"  >
                
                      </div>
                      </div>
                   
                    
                
                </div>
                <div class="input-group input-group-dynamic mb-4">
                  <button style="margin-right: 5px;" type="submit" class="btn btn-primary">Update</button>
          
                  <button onclick="location.href='/admin/role'" type="button" class="btn btn-secondary">Cancel</button>
                  <div class="">
                    <% for(var i=0; i< errs.length; i++){ %>
                        <%= errs[i].message %>
                        <br>
                    <% } %>

                </div>
              </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>



    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            made with <i class="fa fa-heart"></i> by
            <a class="font-weight-bold" target="_blank">Team 2</a>
            for a ABC Company.
          </div>
        </div>
   
      </div>
    </div>
  </footer>
</div>
</main>


<%-include('../partials/footer-board.html')%>
